<style>
  article img {
    border-radius: 5px;
  }
  figcaption {
    padding: 5px;
    text-align: center;
    font-style: italic;
    opacity: 0.718;
  }
</style>
<script>
  var nodes = document.querySelector("article");
  if (nodes) {
    nodes.querySelectorAll("img").forEach (
      function (img) {
        var text = img.title || img.alt;
        if (text) {
          var caption = document.createElement("figcaption");
          caption.append("Figure: " + text);
          img.parentNode.append(caption);
        }
      }
    )
  }
</script>
